@font-face {
  font-family: "iconfont"; /* Project id 3626986 */
  src: url('iconfont.woff2?t=1663772143904') format('woff2'),
       url('iconfont.woff?t=1663772143904') format('woff'),
       url('iconfont.ttf?t=1663772143904') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before {
  content: "\e658";
}

.icon-taiyang:before {
  content: "\e611";
}

.icon-yueliang:before {
  content: "\e6cc";
}

.icon-agora_chaoqing-gaofenbianshuai:before {
  content: "\e60c";
}

.icon-2dongtaiwenzi:before {
  content: "\e610";
}

.icon-biankuang:before {
  content: "\e615";
}

.icon-jiesuo:before {
  content: "\e600";
}

.icon-kongwujiaoxing:before {
  content: "\e62d";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-jindutiao:before {
  content: "\e672";
}

.icon-feixiantu:before {
  content: "\e613";
}

.icon-zhexiantu:before {
  content: "\e619";
}

.icon-shangwutubiao-:before {
  content: "\e66b";
}

.icon-xingzhuang-juxing:before {
  content: "\eb97";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\eb99";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-zuhe:before {
  content: "\e628";
}

.icon-xiayi:before {
  content: "\e636";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-xiangyouxuanzhuan:before {
  content: "\e66a";
}

.icon-wenben:before {
  content: "\e61c";
}

.icon-bingtu:before {
  content: "\e620";
}

.icon-shuiweitu:before {
  content: "\e624";
}

.icon-lunbobiaoge:before {
  content: "\e66e";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-shangyi:before {
  content: "\e656";
}

.icon-xiayi1:before {
  content: "\e657";
}

.icon-jindutiao1:before {
  content: "\e63b";
}

.icon-mengfeisi-daozhuixing:before {
  content: "\e6e8";
}

.icon-num-list-full:before {
  content: "\ea3a";
}

.icon-yibiaopan:before {
  content: "\e614";
}

.icon-paimingliebiao:before {
  content: "\e60a";
}

.icon-yuanhuantu:before {
  content: "\eda0";
}

.icon-ziyouquxian:before {
  content: "\eddb";
}

.icon-icon-fanpaiqi:before {
  content: "\e6a2";
}

.icon-icon-anniu:before {
  content: "\e6af";
}

.icon-zhuangshi:before {
  content: "\fd2c";
}

.icon-zhixian:before {
  content: "\ee43";
}

.icon-loudoutu:before {
  content: "\e6c3";
}

